body {
		background: #fff;
	}

a {
	color: #98C593;
	text-decoration: none;
}

ul {
	list-style: none outside none;
	cursor: default;
	margin-right:20px; 
}

nav ul li a {
	font-family: 'Shift';
}

#banner {
    color: #fff;
}

	.jumbotron {
		background-image:url('http://th04.deviantart.net/fs70/PRE/f/2010/029/a/2/Smiley_Sticky_Note__by_Needzy.jpg');
		height: 500px;
	  	background-repeat: no-repeat;
	 	background-size: cover;
 	  	margin-top: -20px;
	}

	.jumbotron .container {
  		position: relative;
  		top:100px;
	}	

	.jumbotron h1 {
  		color: #fff;
  		font-size: 48px;  
  		font-family: 'Shift', sans-serif;
  		font-weight: bold;
	}

	.jumbotron p {
  		font-size: 20px;
  		color: #fff;
	}

	#button-login {
		background-color: inherit;
		color: #ffffff;
		margin-left: -10px;
		margin-right: 30px;
		margin-bottom: 5px;
	}

	#button-cadastro {
		background-color: inherit;
		color: #ffffff;
		margin-bottom: 5px;
	}
#logo {
		position: absolute;
		margin-top: -12px;
		left: 1em;
		top: 0;
		height: 3em;
		line-height: 3em;
		letter-spacing: -1px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 28px;
	}

#footer {
	background-color: #F0F0F0;
	padding: 3em;
	margin-top: -30px;
	text-align: center;
	display: block;

}

	ul.icons li{
		display: inline-block;
		padding: 0px 1.25em 0px 0px;
		font-size: 24px;
	}

	ul.actions li {
		display: inline-block;
	}

	ul.copyright li {
		display: inline;
	}

.form-login {
	max-width: 330px;
	margin: 100px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #68dff0;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 20px;
}
.login-wrap .registration {
	text-align: center;
}
.login-social-link {
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
}




/* skin-black navbar */
.skin-black .navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}
.skin-black .navbar .nav a {
  color: #333333;
}
.skin-black .navbar .nav > li > a:hover,
.skin-black .navbar .nav > li > a:active,
.skin-black .navbar .nav > li > a:focus,
.skin-black .navbar .nav .open > a,
.skin-black .navbar .nav .open > a:hover,
.skin-black .navbar .nav .open > a:focus {
  background: #39435C;
  color: #fff;
  padding-bottom: 14px;
}
.skin-black .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-black .navbar .sidebar-toggle .icon-bar {
  background: #333333;
}
.skin-black .navbar .sidebar-toggle:hover .icon-bar {
  background: #999999 !important;
}
/* skin-black logo */
.skin-black .logo {
  background-color: #283744;
  color: #f9f9f9;
}
.skin-black .logo > a {
  color: #f9f9f9;
}
.skin-black .logo:hover {
  /*background: #303030;*/
  /*color: #fff;*/
}
/* skin-black content header */
.skin-black .right-side > .content-header {
  background: #fff;
  box-shadow: none;
}
/* Skin-red user panel */
.skin-black .user-panel > .image > img {
  border: 1px solid #444;
}
.skin-black .user-panel > .info,
.skin-black .user-panel > .info > a {
  color: #eee;
}
/* skin-black sidebar */
.skin-black .sidebar {
  border-bottom: 1px solid #39435C;
}
.skin-black .sidebar > .sidebar-menu > li {
  /*border-top: 1px solid #333;
  border-bottom: 0px solid #444;*/
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #444;
}
.skin-black .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 0px solid #333;
}
.skin-black .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
  color: #f6f6f6;
  background: #425164;
}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #35404d;
}
.skin-black .left-side {
  background: #39435C;
}
.skin-black .sidebar a {
  color: #eee;
}
.skin-black .sidebar a:hover {
  text-decoration: none;
}
.skin-black .treeview-menu > li > a {
  color: #ccc;
}
.skin-black .treeview-menu > li.active,
.skin-black .treeview-menu > li:hover {
  color: #fff;
  background-color: #404B5F;
}
.skin-black .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #555;
  margin: 10px 10px;
}
.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0 solid rgba(255, 255, 255, 0.1);
  height: 35px;
  outline: none;
}
.skin-black .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-black .sidebar-form input[type="text"]:focus,
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #444;
  border: 0;
}
.skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left: 0;
}
.skin-black .sidebar-form .btn {
  color: #999;


  panel tasks-widget/* skin-black navbar */
.skin-black .navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.panel-heading {
  border-bottom: 1px solid #eee;
  background-color: #FAFAFA;
}

.panel-heading .nav {
    border:medium none;
    font-size:13px;
    margin:-10px -15px -15px;
}
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0;
}
.skin-black .sidebar .sidebar-menu .treeview-menu > li:hover {
  background-color: #404B5F;
}


panel tasks-widget/* skin-black navbar */
.skin-black .navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.panel-heading {
  border-bottom: 1px solid #eee;
  background-color: #FAFAFA;
}

.panel-heading .nav {
    border:medium none;
    font-size:13px;
    margin:-10px -15px -15px;
}

.panel-heading .nav>li>a,.panel-heading .nav>li.active>a,.panel-heading .nav>li.active>a:hover,.panel-heading .nav>li.active>a:focus {
    border-width:0;
    border-radius:0;
}
.panel-heading .nav>li>a {
    color:#898989;
}
.panel-heading .nav>li.active>a,.panel-heading .nav>li>a:hover {
    color:#27c24c;
    background:#fff;
}
.panel-heading .nav>li:first-child.active>a,.panel-heading .nav>li:first-child>a:hover {
    border-radius:0px 0 0 0;
    -webkit-border-radius: 0px 0 0 0;
    /*border: 1px solid #eee;*/
}
.tab-right {
    height:48px;
}
.panel-heading.tab-right .nav>li:first-child.active>a,.tab-right.panel-heading .nav>li:first-child>a:hover {
    border-radius:0;
    -webkit-border-radius:0;
}
.panel-heading.tab-right .nav>li:last-child.active>a,.tab-right.panel-heading .nav>li:last-child>a:hover {
    border-radius:0 4px 0 0;
    -webkit-border-radius:0 4px 0 0;
}
.panel-heading.tab-right .nav-tabs>li>a {
    margin-left:1px;
    margin-right:0px;
}

.general .panel-body {
  /*border: 1px solid #eee;*/
  margin-left: -1px;
}

.task-content {
    margin-bottom: 30px;
}

.tasks-widget .task-content:after {
  clear: both;
}


.tasks-widget  .task-list {
  padding:0;
  margin:0;
}
ul.task-list {
  list-style: none;
}

.tasks-widget .task-list > li {
  position:relative;
  padding:10px 5px;
  border-bottom:1px dashed #eaeaea;
}

.tasks-widget .task-list  li.last-line {
  border-bottom:none;
}

.tasks-widget .task-list  li > .task-bell  {
  margin-left:10px;
}

.tasks-widget .task-list  li > .task-checkbox {
  float:left;
  width:30px;
}

.tasks-widget .task-list  li > .task-title  {
  overflow:hidden;
  margin-right:10px;
}

.tasks-widget .task-list  li > .task-config {
  position:absolute;
  top:10px;
  right:10px;
}

.tasks-widget .task-list  li .task-title .task-title-sp  {
  margin-right:5px;
}

.tasks-widget .task-list  li.task-done .task-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.tasks-widget .task-list  li.task-done  {
  background:#f6f6f6;
}

.tasks-widget .task-list  li.task-done:hover {
  background:#f4f4f4;
}

.tasks-widget .task-list  li:hover  {
  background:#f9f9f9;
}

.tasks-widget .task-list  li .task-config {
  display:none;
}

.tasks-widget .task-list  li:hover > .task-config {
  display:block;
  margin-bottom:0 !important;
}

.tasks-widget .task-list  li > .task-checkbox {
  float:left;
  width:30px;
}

.tasks-widget .task-list  li > .task-title  {
  overflow:hidden;
  margin-right:10px;
}

.tasks-widget .task-list  li .task-title .task-title-sp  {
  margin-right:5px;
}

.tasks-widget .task-list  li.task-done .task-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}



